:root {
  --grey: #a3a3a3;
  --purple: #b4a7c6;
  --red: #cb6761;
  --orange: #deac79;
  --blue: #88a5b7;
  --turqoise: #8bbfbf;
  --green: #a8b38c;
}

.bg-grey {
  background-color: var(--grey);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-red {
  background-color: var(--red);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-green {
  background-color: var(--green);
}

.text-grey {
  color: var(--grey);
}

.text-purple {
  color: var(--purple);
}

.text-red {
  color: var(--red);
}

.text-orange {
  color: var(--orange);
}

.text-green {
  color: var(--green);
}

.btn.bg-grey {
  background-color: var(--grey);
}

.btn.bg-purple {
  background-color: var(--purple);
}

.btn.btn-sm.bg-purple :hover {
  color: black;
}

.btn.bg-red {
  background-color: var(--red);
}

.btn.bg-orange {
  background-color: var(--orange);
}

.btn.bg-green {
  background-color: var(--green);
}

#pills-home-tab {
  color: var(--purple);
}

#pills-profile-tab {
  color: var(--orange);
}

#pills-contact-tab {
  color: var(--red);
}

#pills-home-tab.active {
  background-color: var(--purple);
  color: white;
}

#pills-profile-tab.active {
  background-color: var(--orange);
  color: white;
}

#pills-contact-tab.active {
  background-color: var(--red);
  color: white;
}

.pop.btn {
  color: var(--grey);
}

.pop.btn:hover {
  color: rgb(49, 49, 49);
}

.hover-row:hover {
  background-color: aliceblue;
}

::file-selector-button {
  display: none;
}
